@{
    Layout = "~/Views/Shared/_Layout1.cshtml";
}
@model IEnumerable<Message>
<head>
    <script type="text/javascript" src="~/scripts/jquery-1.10.2.min.js"></script>
    <link rel="stylesheet" type="text/css" href="~/styles/new.css" />
</head>
<div class="messagebanner" style="margin-top:-20px;">
    <div class="container" style="height:200px;">
        <hgroup>
            <h1>留言板块页面</h1>
            <h4>欢迎大家留言</h4>
        </hgroup>
    </div>
</div>
<div style="height:10px;background-color:#eee;"></div>
<div class="message">
    <div class="container">
        <div class="row">
            <div class="col-md-9" style="background-color:rgb(101,172,76);border-radius:8px;">
                <div class="container-fluid">
                    <div class="row message-content" style="margin-top:10px;">
                        @foreach (var x in Model)
                        {
                            @if (x.State == State.通过)
                            {
                                <div class="col-md-3 col-sm-5 col-xs-5">
                                    <img src="~/images/person.png" class="img-responsive" alt="加载失败"/>
                                    <p>访客昵称：@x.NickName</p>
                                </div>
                                <div class="col-md-9 col-sm-7 col-xs-7" style="height:180px;">
                                    <pre style="margin:5px;width:auto;height:140px;background-color:#eee;" disabled="disabled">@x.Content</pre>
                                    <hr style="color:#eee;"/>
                                </div>
                            }
                        }
                    </div>
                </div>
            </div>
        </div>
        @Html.MakePager("pager-item", "active", "pager")
    </div>

    <div class="container-fluid">
        <form asp-action="CreateMessage" asp-controller="Home" method="post" id="frmcreatemessage">
            <table class="table" style="background-color:rgb(101,172,76);border-radius:8px;">
                <tr>
                    <th style="color:#333;">昵称：</th>
                    <td><input type="text" name="NickName" id="NickNameId" placeholder="昵称不能为空" style="border-radius:6px;" /></td>
                </tr>
                <tr>
                    <th style="color:#333;">留言：</th>
                    <td><textarea id="ContentId" placeholder="请输入内容,提交后待管理员审核后即可在页面中显示" name="Content" style="width:100%;height:80px;resize:none;border-radius:6px;"></textarea></td>
                </tr>
            </table>
            <p><a href="javascript:addition()" class="btn btn-primary btn-success">留言</a></p>
        </form>
    </div>
</div>
<script type="text/javascript">
    
    function addition() {
        var NickName = eval(document.getElementById('NickNameId')).value;
        var Content = eval(document.getElementById('ContentId')).value;
        if (NickName == '' || Content == ''){
            alert("请检查昵称或者留言内容是否为空");
        }
        else {
            alert("提交成功，请等待管理员审核通过后即可显示");
            frmcreatemessage.submit();
        }
    }
</script>


