@{
    Layout = "~/Views/Shared/_Layout1.cshtml";
}
@model IEnumerable<Photos>
<div style="margin-top:-20px;"></div>
<div class="col-md-9">
    <div class="col-sm-6 col-md-6"  style="margin:0 auto;">
        <div class="thumbnail">
            <img src="~/images/department.jpg"
                 alt="图片加载失败哟~">
        </div>
        <div class="caption">
            <p>校园一角</p>
        </div>
    </div>
    <div class="col-sm-6 col-md-6" style="margin:0 auto;">
        <div class="thumbnail">
            <img src="~/images/1.jpg"
                 alt="图片加载失败哟~">
        </div>
        <div class="caption">
            <p>校园休息区</p>
        </div>
    </div>
    <div class="col-sm-6 col-md-6" style="margin:0 auto;">
        <div class="thumbnail">
            <img src="~/images/2.jpg"
                 alt="图片加载失败哟~">
        </div>
        <div class="caption">
            <p>教学楼</p>
        </div>
    </div>
    <div class="col-sm-6 col-md-6" style="margin:0 auto;">
        <div class="thumbnail">
            <img src="~/images/3.jpg"
                 alt="图片加载失败哟~">
        </div>
        <div class="caption">
            <p>宿舍区</p>
        </div>
    </div>
    <div class="col-sm-6 col-md-6" style="margin:0 auto;">
        <div class="thumbnail">
            <img src="~/images/4.jpg"
                 alt="图片加载失败哟~">
        </div>
        <div class="caption">
            <p>校园凉亭近观</p>
        </div>
    </div>
    <div class="col-sm-6 col-md-6" style="margin:0 auto;">
        <div class="thumbnail">
            <img src="~/images/5.jpg"
                 alt="图片加载失败哟~">
        </div>
        <div class="caption">
            <p>校园凉亭远观</p>
        </div>
    </div>
</div>
