<form asp-action="CreatePhotos" asp-controller="Admin" method="post">
    <h2>添加照片</h2>
    <table class="Create-table">
        <tr>
            <th class="row-title">照片标题</th>
            <td><input type="text" name="Title" /></td>
        </tr>
        <tr>
            <th class="row-title">照片路径</th>
            <td><input type="text" name="Path" /></td>
        </tr>
        <tr>
            <th class="row-title">照片描述</th>
            <td><input type="text" name="Discription" /></td>
        </tr>
        <tr>
            <th class="row-title">添加时间</th>
            <td><input type="datetime" name="Datatime" /></td>
        </tr>

    </table>
    <p>
        <input class="btn" type="submit" value="提交" />
        <a asp-action="Index" asp-controller="Home">取消</a>
    </p>

</form>