@model SchoolInfo
<form asp-action="EditSchoolInfo" asp-controller="Admin" method="post">
    <input type="hidden" name="id" value="@Model.Id" />
    <table>
        <tr>
            <th class="row-title">信息标题</th>
            <td><input type="text" name="Title" value="@Model.Title" /></td>
        </tr>
        <tr>
            <th class="row-title">信息内容</th>
            <td><input type="text" name="Content" value="@Model.Content" /></td>
        </tr>
        <tr>
            <th class="row-title">添加时间</th>
            <td><input type="datetime" name="Datatime" value="@Model.Datatime" /></td>
        </tr>
    </table>
    <p>
        <input type="submit" value="修改" />
        <a asp-action="Manage" asp-controller="Home">取消</a>
    </p>

</form>