<form role="form" asp-action="CreateArticle" asp-controller="Admin" method="post">
    <div class="form-group">
        <h2>添加文章</h2>
        <table class="table">
            <tr>
                <th>文章标题</th>
                <td><input class="form-control" type="text" name="Title"/></td>
            </tr>
            <tr>
                <th>文章作者</th>
                <td><input class="form-control" type="text" name="Author" /></td>
            </tr>
            <tr>
                <th>文章内容</th>
                <td><textarea class="form-control" rows="3" name="Content"></textarea></td>
            </tr>
            <tr>
                <th>文章来源</th>
                <td>
                    <select name="Source">
                        <option>学生</option>
                        <option>教师</option>
                        <option>原创</option>
                        <option>其他</option>
                    </select>
                </td>
            </tr>
            <tr>
                <th>文章类别</th>
                <td>
                    <select name="Category">
                        <option>信件</option>
                        <option>童言</option>
                        <option>教育</option>
                    </select>
                </td>
            </tr>
            <tr>
                <th>添加时间</th>
                <td><input class="form-control" type="datetime" name="DataTime" value="@DateTime.Now" /></td>
            </tr>
            <tr>
                <th>点击量</th>
                <td><input class="form-control" type="hidden" name="Clickonthequantity" value="0" /></td>
            </tr>

        </table>
        <p>
            <input class="btn" type="submit" value="提交" />
            <a asp-action="DetailsArticle" asp-controller="Admin">取消</a>
        </p>
      </div>
</form>
