<form role="form" asp-action="CreatePhotos" asp-controller="Admin" method="post" enctype="multipart/form-data">
    <div class="form-group">
        <h2>添加照片</h2>
        <table class="table">
            <tr>
                <th>照片标题</th>
                <td><input class="form-control" type="text" name="Title" /></td>
            </tr>          
            <tr>
                <th>照片描述</th>
                <td><textarea class="form-control" rows="3" name="Discription"></textarea></td>
            </tr>
            <tr>
                <th>优先级</th>
                <td><input class="form-control" type="text" name="Priority" /></td>
            </tr>
            <tr>
                <td><input class="form-control" type="hidden" name="Datatime" value="@DateTime.Now" /></td>
            </tr>
            <tr>
                <th>选择照片</th>
                <td><input class="form-control" type="file" name="picture" /></td>
            </tr>
        </table>
        <p>
            <input class="btn" type="submit" value="提交" />
            <a asp-action="DetailsPhotos" asp-controller="Admin">取消</a>
        </p>
</div>
</form>