@{
    Layout = "~/Views/Shared/_Layout1.cshtml";
}
@model IEnumerable<Inform>

@foreach (var x in Model)
{
<div class="container panel-body">
    <strong class="panel-title"><a href="#" style="text-decoration:none;">@x.Title</a></strong>
    <p>@x.Content</p>
</div>
}