@{ 
    Layout = "~/Views/Shared/_Layout1.cshtml";
}
<!DOCTYPE html>

<html>
<head>
    <link rel="stylesheet" type="text/css" href="~/styles/bootstrap.min.css" />
    <meta name="viewport" content="width=device-width" />
    <title>查看新闻</title>
</head>
<body>
    <div class="container container-fluid">
        <div class="col-md-9">
            <div class="list-group">
                <div class="list-group-item" style="border:0;">
                    <a href="#" style="color:#000000;text-decoration:none;"><h4>文章标题：[武汉] 武汉市社区教育学院举行社区心理指导员培训</h4>
</a>
                    <p class="text-muted">
                        <small>发布时间:2015-12-07</small>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<small>文章作者:Cream</small>                 
                        <small class="pull-right">点击量：<span class="badge">99+</span></small>
                    </p>
                    <p class="text-muted">
                        文章内容.为进一步贯彻落实《中华人民共和国精神卫生法》与《武汉市精神卫生条例》的精神，探索并实践人文关怀和心理服务的新方式，倡导科学健康文明的生活方式，提升全民心理素质，推进全民健康生活方式向基层社区延伸，12月2日至12月4日，市社区教育学院面向全市范围举办了“社区心理指导员培训”活动，来自全市13个区,工作在社区教育第一线的60余位学员参加了此次培训。
                    <p>
                        <span class="badge">实践</span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="badge">人文关怀</span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="badge">教育技能</span>
                    </p>
                    <div style="border:1px dashed #ddd;"></div>
                </div>
                <div class="list-group-item" style="border:0;">
                    <a href="#" style="color:#000000;text-decoration:none;">
                        <h4>文章标题：[武汉] 武汉市社区教育学院举行社区心理指导员培训</h4>
                    </a>
                    <p class="text-muted">
                        <small>发布时间:2015-12-07</small>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<small>文章作者:Cream</small>
                        <small class="pull-right">点击量：<span class="badge">99+</span></small>
                    </p>
                    <p class="text-muted">
                        文章内容.为进一步贯彻落实《中华人民共和国精神卫生法》与《武汉市精神卫生条例》的精神，探索并实践人文关怀和心理服务的新方式，倡导科学健康文明的生活方式，提升全民心理素质，推进全民健康生活方式向基层社区延伸，12月2日至12月4日，市社区教育学院面向全市范围举办了“社区心理指导员培训”活动，来自全市13个区,工作在社区教育第一线的60余位学员参加了此次培训。
                    <p>
                        <span class="badge">实践</span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="badge">人文关怀</span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="badge">教育技能</span>
                    </p>
                    <div style="border:1px dashed #ddd;"></div>
                </div>
                <div class="list-group-item" style="border:0;">
                    <a href="#" style="color:#000000;text-decoration:none;">
                        <h4>文章标题：[武汉] 武汉市社区教育学院举行社区心理指导员培训</h4>
                    </a>
                    <p class="text-muted">
                        <small>发布时间:2015-12-07</small>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<small>文章作者:Cream</small>
                        <small class="pull-right">点击量：<span class="badge">99+</span></small>
                    </p>
                    <p class="text-muted">
                        文章内容.为进一步贯彻落实《中华人民共和国精神卫生法》与《武汉市精神卫生条例》的精神，探索并实践人文关怀和心理服务的新方式，倡导科学健康文明的生活方式，提升全民心理素质，推进全民健康生活方式向基层社区延伸，12月2日至12月4日，市社区教育学院面向全市范围举办了“社区心理指导员培训”活动，来自全市13个区,工作在社区教育第一线的60余位学员参加了此次培训。
                    <p>
                        <span class="badge">实践</span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="badge">人文关怀</span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="badge">教育技能</span>
                    </p>
                    <div style="border:1px dashed #ddd;"></div>
                </div>
                <div class="list-group-item" style="border:0;">
                    <a href="#" style="color:#000000;text-decoration:none;">
                        <h4>文章标题：[武汉] 武汉市社区教育学院举行社区心理指导员培训</h4>
                    </a>
                    <p class="text-muted">
                        <small>发布时间:2015-12-07</small>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<small>文章作者:Cream</small>
                        <small class="pull-right">点击量：<span class="badge">99+</span></small>
                    </p>
                    <p class="text-muted">
                        文章内容.为进一步贯彻落实《中华人民共和国精神卫生法》与《武汉市精神卫生条例》的精神，探索并实践人文关怀和心理服务的新方式，倡导科学健康文明的生活方式，提升全民心理素质，推进全民健康生活方式向基层社区延伸，12月2日至12月4日，市社区教育学院面向全市范围举办了“社区心理指导员培训”活动，来自全市13个区,工作在社区教育第一线的60余位学员参加了此次培训。
                    <p>
                        <span class="badge">实践</span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="badge">人文关怀</span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="badge">教育技能</span>
                    </p>
                    <div style="border:1px dashed #ddd;"></div>
                </div>
                <div class="container text-centert">
                    <ul class="pagination">
                        <li><a href="#">&laquo;</a></li>
                        <li><a href="#">1</a></li>
                        <li><a href="#">&raquo;</a></li>
                    </ul>
                </div>
            </div> 
                 
        </div>
        
    </div>
</body>
</html>



