@{
    Layout = null;
}
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>x学校信息被Details代替了</title>
</head>
<body>
    <div class="contentarea">
        <!-- region start: 新闻文章 -->
        <input type="hidden" id="hiddenID" name="hiddenID" value="1203">
        <input type="hidden" id="hiddenIsPreview" name="hiddenID" value="[#hiddenIsPreviewID]">
        <article id="d_article" class="d-article">
            <header>
                <h1>文章标题：[武汉] 武汉市社区教育学院举行社区心理指导员培训</h1>
                <p><time pubdate datetime="2015-12-07">2015/12/7</time></p>
            </header>
            <aside>文章作者</aside>
            <hr />
            <p>&nbsp;&nbsp;&nbsp;&nbsp;文章内容.为进一步贯彻落实《中华人民共和国精神卫生法》与《武汉市精神卫生条例》的精神，探索并实践人文关怀和心理服务的新方式，倡导科学健康文明的生活方式，提升全民心理素质，推进全民健康生活方式向基层社区延伸，12月2日至12月4日，市社区教育学院面向全市范围举办了“社区心理指导员培训”活动，来自全市13个区,工作在社区教育第一线的60余位学员参加了此次培训。武汉市社区教育学院办公室主任朱智泉、书记冯芳亮，市社区教育学院咨询中心主任张汉芳等全程参与培训，并在开班典礼上做动员讲话。</p>
            <p>　　本次培训活动主要讲解与心理学相关的基本常识、常见心理问题的表现和应对措施，心理辅导基本技能技巧等，同时还包括家庭心理教育、人际关系处理、心理危机关于、情绪调节和压力应对等专题内容。为期三天的培训共分6个专题，分别是社区心理健康工作总论、社区工作人员的心理保健（情绪、压力、时间管理）、社区家庭教育和亲子沟通、社区应激事件处置和心理辅导、邻里和谐相处之道与矛盾调解、家和社区亦和谐，各专题分别由来自武软心理教研室的陈自良主任和教研室金琼副主任、高级心理咨询师杨国荣副教授、中南财经政法大学心理健康教育咨询中心专职教师张春燕、武软心理中心主任张汉芳副教授、国家心理咨询师吴飒等心理研究领域的权威学者进行讲授。本次培训充分考虑到社区工作的实际，内容涵盖社区工作人员自我心理调节、社区不同人群心理特征等，培训前，社区教育学院面向全体学员印发了《社区工作者心理健康培训需求调查表》，充分了解了学习者的需求，并制定了有针对性的课程。整个培训活动采取集中面授，课堂理论学习与小组讨论相结合的培训方式，培训过程中，老师讲的精彩，学员们听的认真，培训气氛十分活跃。</p>
            <p align="center"><img border="0" src="../Upfiles/201512732112.jpg" width="590">杨国荣教授正在授课</p>
            <p>　　本次培训活动受到了来自全市13个区的社区教育工作者的一致好评，他们纷纷表示培训紧贴实际，内容丰富有趣，展现出了主讲教师精湛的专业水平。老师们深入浅出，从日常生活实例出发，理论联系实际，所讲内容实用性、指导性强。在心理健康问题日益增多、心理健康问题重要性日益凸显的背景下，此次“社区心理指导员培训”为社区教育从业者送来了一场“及时雨”，特别是针对当前社区心理教育、辅导所面临的具体问题，提出了解决问题的思路和应对措施，帮助了他们进一步丰富和掌握心理危机干预技巧。他们表示将会按照本次培训的要求，不断地丰富与心理健康相关的专业知识、提高辨别心理问题与解决问题的能力，努力为社区居民心理卫生健康事业做出更大的贡献。</p>

        </article>
    </div>

</body>
</html>
