 .colorful{
            width: 100%;
            height: 100px;
            transform:rotate(1deg);
        }
        .chead{
            height:10px;
            background-color:rgb(250,96,96);
        }
        .one{
            height:20px;
            background-color:#66FFFF;
        }
        .two{
            height:18px;
            background-color:#99FF33;
        }
        .three{
            height:16px;
            background-color:rgb(250,96,96);
        }
        .four{
            height:14px;
            background-color:#9933FF;
        }
        .five{
            height:12px;
            background-color:#33CC33;
        }
        .six{
            height:10px;
            background-color:#FF6699;
        }
        .seven{
            height:10px;
            background-color:#99CCCC;
        }
        .colorful h1{
            margin:0;
            padding:0;
            font-size:60px;
            font-family:sans-serif;
            line-height:0px;
            text-align:center;
            opacity:0.7;
            transform:rotate(-1deg);
        }
