.newsbanner{
    background-image:url("../../images/newsbg.jpg");
    margin:-20px 0 0 0;
}
.newsbanner h1{
    font-family:微软雅黑;
    padding:0 0 0 20px;
}
.newsbanner h4{
    font-family:微软雅黑;
    padding:0 0 0 20px;
}
.news-content{
    background-color:#eee;
}
.info-content{
    margin:0 0 10px 0;
    background-color:#fff;
    box-shadow:3px 3px 3px 3px #ccc;
}
.page{
    background-color:#eee;
}
.page-content{
    background-color:#fff;
}
.page h4{
    color:black;
}
.articlebanner{
    background-image:url("../../images/articlehb.jpg");
}
.articlebanner h1{
    padding:0 0 0 20px;
    color:rgb(171,221,156);
    font-family:仿宋;
}
.articlebanner h4{
    padding:0 0 0 20px;
    color:rgb(171,221,156);
    font-family:仿宋;
}
.article{
    background-color:#eee;
}
.article h4{
    font-family:微软雅黑;
    color:rgb(17,57,153);
}
.messagebanner{
    background-image:url("../../images/messagehb.jpg");
}
.messagebanner h1{
    padding:0 0 0 20px;
    color:rgb(239,253,96);
    font-family:sans-serif;
}
.messagebanner h4{
    padding:0 0 0 20px;
    color:rgb(239,253,96);
    font-family:sans-serif;
}
.recruit{
    background-color:#eee;
}
.inform{
    background-color:#eee;
}
.activities{
    background-color:#eee;
}
.message{
    background-color:#eee;
}